*{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    width: 100%;
    vertical-align: bottom;
}
p{
    text-align: center;
}
.item-list{
    width: 100%;
    max-width: 1400px;
    margin: auto;
}
.footer{
    background-color: #aaa;
    text-align: center;
    padding: 20px 0;
}
.header{
    background-color: #aaa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    img{
        width: auto;
        vertical-align: sub;
    }
     .menu-btn{
         position: absolute;
         top: 0;
         right: 0;
         width: 40px;
         height: 40px;
         background-color: #000;
     }
     .menu-btn::before{
         content: '';
         width: 32px;
         height: 2px;
         background-color: #aaa;
         position: absolute;
         top: 0;
         left: 4px;
         bottom: 0;
         margin: auto;
         box-shadow: 0 8px 0 #aaa,
                     0 -8px 0 #aaa;
     }
}
nav {
    position: absolute;
    background-color: #000;
    width: 80%;
    height: calc(100dvh - 43px);
    top: 43px;
    left: 0;
    a{
        display: block;
        text-decoration: none;
        color: #ffaa00;
        padding: 10px 20px;
        border-bottom: 1px solid #ffaa00;
    }
}
.title{
    text-align: center;
    font-size: 40px;
}
.text{
    margin-bottom: 10px;
}

.item{
    margin: 0 10px 20px;
}
.decs{
    background-color: #fa0;
    padding: 10px 6px;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .item-list{
        display: flex;
    }
    .service{
        .item-list{
            align-items: center;
        }
        .pic{
            width: 50%;
        }
        .text{
            width: 50%;
            padding: 0 20px;
            box-sizing: border-box;

        }
    }
    .header{
        background-color: #000;
        position: unset;
    }
    nav{
        position: relative;
        top:0;
        left: 0;
        height: auto;
        width: auto;
        display: flex;
        background-color: transparent;
        transition: top 1s .1s linear;
    }
    nav a{
        border: none;
    }
    .menu-btn{
        display: none;
    }
}